@import 'macros.scss';
@import 'cdn.scss';
@import 'headers.scss';
@import 'gender.scss';
@import 'age.scss';
@import 'groth.scss';
@import 'eight.scss';
@import 'fisical.scss';
@import 'result.scss';
@import 'footer.scss';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  background: repeating-linear-gradient(
    60deg,
    $dark_blue,
    $blue 30%,
    $yello 50%,
    $deep_yello 70%,
    $bron 100%
  );
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1360px;
  background-color: #fff;
  margin: 0 auto 30px;
  border: 5px solid $black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

h3 {
  font-size: $_27px;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  letter-spacing: 1px;
}

h4 {
  font-size: $_18px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}
