// Colors
$white: rgb(255, 255, 255);
$black: rgb(14, 13, 13);
$dark_blue: #52aabc;
$blue: #97d8ed;
$yello: #f0e593;
$deep_yello: #f8bc43;
$bron: #a6620a;

// Size

$_18px: 1rem;
$_45px: 2.5rem;
$_36px: 2rem;
$_27px: 1.5rem;
